@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-base {
    @apply w-full max-w-7xl mx-auto px-4 lg:px-8;
  }

  .container-full {
    @apply w-full mx-auto pl-4 lg:pl-8;
  }

  .spacing-section {
    @apply mb-16 md:mb-32 lg:mb-40;
  }

  .gradient-dark {
    @apply bg-gradient-to-r from-dark-primary via-dark-secondary to-dark-primary;
  }

  .heading {
    @apply text-3xl md:text-5xl font-bold tracking-tighter;
  }

  .subheading {
    @apply text-lg md:text-xl font-semibold tracking-tighter;
  }

  .paragraph {
    @apply text-sm md:text-base font-normal;
  }

  .paragraph-small {
    @apply text-xs md:text-sm font-normal;
  }
}

.hamburger {
  cursor: pointer;
  width: 28px;
  height: 18px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 3px;
  background: #f5f5f5;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(9px);
}

.hamburger-bottom {
  transform: translateY(18px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.fade-in-delayed {
  opacity: 0;
  animation: fadeIn 0.1s ease-in-out 0.9s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
